#app {
  font-family: "Times New Roman", Times, serif, sans-serif;
  font-size: 12;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}
#backgroundvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.background {
  background-image: url("../assets/img/background.jpg");
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.categorieArticleImg {
  width: 300px;
  height: 300px;
}
